.body_background{
    background-image: url("download.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
center{
    padding: 10px;
}
.login_div{
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    float: none;
    box-shadow: -5px 10px 30px grey;
}
.game_title{
    font-size: 50px;
    font-weight: bold;
}
#output, #question{
    float: none;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: -5px 10px 27px grey;
}
#output{
    text-align: left;
}
#question button{
    border: none !important;
}